@model BlogApp.WebUI.Models.HomeIndexViewModel

@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Views/Shared/_Layouts.cshtml";
}



@section banner{

    <h1 class="mb30">@Model.BannerOdd.Title</h1>
    <p>
        <a href="http://freehtml5.co/" target="_blank" class="btn btn-primary">Download CV</a>
    </p>
}



<div id="fh5co-services" class="fh5co-bg-section">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center animate-box" data-animate-effect="fadeInUp">
                <div class="fh5co-heading">
                    @*<span>We're expert</span>*@
                    <h2>@Model.BannerOdd.Title2</h2>
                    <p>@Model.BannerOdd.Title2Content</p>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-menu"></i>
                    </span>
                    <h3>N Layer Architecture</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-lock"></i>
                    </span>
                    <h3>Security</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 ">
                <div class="feature-center animate-box" data-animate-effect="fadeInUp">
                    <span class="icon">
                        <i class="icon-power"></i>
                    </span>
                    <h3>Web Application</h3>
                    <p>
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
                    </p>
                    <p><a href="#">Learn more</a></p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="fh5co-project">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading  animate-box">
                <span>Want Some Cool Stuff</span>
                <h2>@Model.BannerOdd.Title3</h2>
                <p>@Model.BannerOdd.Title3Content</p>
            </div>
        </div>




        @foreach (var item in Model.Projects)
        {
           <h5>@item.Title</h5>
        }

        @*<div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img style=" max-width: 100%; height: auto;" src="https://images.unsplash.com/photo-1430285561322-7808604715df?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Emlak App Backend/Frondend</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img style="max-width: 100%; height: auto;" src="https://www.limasollunaci.com/ckfinder/userfiles/images/blog/blog.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>Blog App</h3>
                </a>
            </div>
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn">
                <a href="#">
                    <img style="max-width: 100%;height: auto;" src="https://www.somagnews.com/wp-content/uploads/2020/04/75-e1586981465263.png" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <h3>GitHub Repositories</h3>
                </a>
            </div>


        </div>*@
    </div>

</div>

<div id="fh5co-counter">
    <div class="container">

        <div class="row animate-box" data-animate-effect="fadeInUp">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <span>Enjoy it</span>
                <h2>@Model.BannerOdd.Title4</h2>
                <p>@Model.BannerOdd.Title4Content</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-download"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="15" data-speed="1500" data-refresh-interval="50">1</span>M+</span>
                    <span class="counter-label">Downloads</span>

                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-face-smile"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="2" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Happy Clients</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-briefcase"></i>
                    </span>
                    <span class="counter"><span class=" js-counter" data-from="0" data-to="6" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Projects Done</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInLeft">
                <div class="feature-center">
                    <span class="icon">
                        <i class="ti-time"></i>
                    </span>
                    <span class="counter"><span class="js-counter" data-from="0" data-to="7" data-speed="1500" data-refresh-interval="50">1</span>K+</span>
                    <span class="counter-label">Hours Spent</span>

                </div>
            </div>

        </div>
    </div>
</div>


